  :root {
    --link-color: #bbb;
    --link-hover-color: #FF355E;
  }

  body {
    overflow: hidden;
    margin: 0;
    /* background: #8a8a8a; */
    /* background: transparent; */
    background-color: #222;
    /* background: url(terrain1.svg); */
    background-size: 1400px 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  div#state-memory-size {
    position: relative;
    top: 11px;
    color: grey;
    font-family: monospace;
  }
  div#state-memory-size:before {
    content: 'HISTORY: '
  }

  #canvas {
    /* padding-left: 275px; */
    width: 650px;
    /* border: 1px solid #06c300; */
    background: #fff2;
    margin-top: 20px;
  }

  .box {
    /* filter: url(#outline); */
    /* fill: #17670057; */
    fill: grey;
    stroke: #333;
    stroke-width: 0.75;
    cursor: default;
  }

  .node {
    fill: var(--link-color);
    stroke: black;
  }

  .node.dragging {
    stroke: none;
    fill: var(--link-color);
  }

  .node.dragging:hover {
    stroke: none;
    fill: var(--link-color);
  }

  .node:hover, .node.hovered {
    fill: var(--link-hover-color);
  }

  .link path:hover,
  path.helper-segment:hover,
  .link.hovered path,
  .helpers path.hovered {
    stroke: var(--link-hover-color);
  }

  .heavy {
    font: 12px monospace;
    fill: #ccc;
    stroke-width: 0;
    user-select: none;
    pointer-events: none;
  }

  .link path, path.helper-segment {
    stroke: var(--link-color);
    stroke-linecap: "round";
    opacity: 1;
    stroke-width: 2px;
    fill: none;
  }

  .link line.control {
    stroke: #aa00aa66;
    stroke-dasharray: 5;
    fill: none;
    /* stroke-width: 1; */
    stroke-width: 0;
  }

  .link .control-circle {
    fill: none;
    stroke: #aa00aa66;
    /* stroke-width: 1; */
    stroke-width: 0;
  }
