:root {
	--link-color: #bbb;
	--link-hover-color: #FF355E;
	--link-selected-color: #ffcc20;
}

:root {
	--red: #632f2f;
	--purple: #432e54;
	--green: #385038;
	--orange: #563e15;
	--blue: #214a6d;
	--grey: #333a;
}
body {
	font-family: sans-serif;
	color: #aaa;
}
pre { padding: .75em 1em; }

.step { display: flex; }
.step > div {
	padding: .4em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.step > div, pre { background: var(--grey) }
.step + .step { margin-top: .5em; }

.op { width: 3em }
.op.start { background: var(--green); }
.op.fetch { background: var(--purple); }
.op.map { background: var(--orange) }
.op.send { background: var(--blue) }
.op.end { background: var(--red) }
.fetch + .fetch,
.map + .map,
.send + .send { margin: 0; }

.result { font-family: monospace; white-space: pre; }

body {
	color: #ccc;
}
pre { white-space: pre-wrap; tab-size: 3; }

body {
/* 	overflow: hidden; */
	margin: 0;
	/* background: #8a8a8a; */
	/* background: transparent; */
	/* background-color: #222; */
	background: #2a2a27;
	/* background: url(terrain1.svg); */
	background-size: 1400px 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

#testContainer {
	width: 100%;
	max-width: 600px;
	margin: auto;
}

div#state-memory-size {
	position: relative;
	top: 11px;
	color: grey;
	font-family: monospace;
}
div#state-memory-size:before {
	content: 'HISTORY: '
}
div#api-results {
	position: relative;
	top: 11px;
	color: grey;
	font-family: monospace;
}
div#api-results:before {
	content: 'API: '
}

#canvas {
	/* padding-left: 275px; */
	width: 650px;
	/* border: 1px solid #06c300; */
	background: #fff1;
	margin-top: 20px;
}

.box {
	/* filter: url(#outline); */
	/* fill: #17670057; */
	fill: grey;
	stroke: #333;
	stroke-width: 0.75;
	cursor: default;
}

.node {
	fill: var(--link-color);
	stroke: black;
}

.node.dragging {
	stroke: none;
	fill: var(--link-color);
}

.node.dragging:hover {
	stroke: none;
	fill: var(--link-color);
}

.node:hover, .node.hovered {
	fill: var(--link-hover-color) !important;
}

.link path:hover,
path.helper-segment:hover,
.link.hovered path,
.helpers path.hovered {
	stroke: var(--link-hover-color) !important;
}

.node.selected {
		fill: var(--link-selected-color);
}
.link.selected *, .helper-segment.selected {
		stroke: var(--link-selected-color);
}

.yiddish text {
	font-size: 25px;
	font-weight: 100;
	/* fill: #cbeaff !important; */
	transform: translate(-13px, 3px);
}

.greek text {
	font-size: 22px;
	/* fill: #c76385 !important; */
	transform: translate(-25px, 2px);
}

.hindi text {
	font-size: 14px;
	font-weight: 100;
	/* fill: #ffea6c !important; */
	transform: translate(-1px, 3px);
}

.hindi text, .greek text, .yiddish text {
	fill: #99c1c1 !important;
	text-shadow: 0px 3px 15px #17b52e;
	transition: all 0.4s  steps(12, end);
}

.hindi rect, .greek rect, .yiddish rect {
	fill: #5a6b6d !important;
	stroke-width: 1px !important;
	stroke: #77a57b !important;
	transition: fill 0.4s  steps(12, end);
}

g.pulse rect {
	fill: #bd94c1 !important;
	stroke: #e62cc9 !important;
	stroke-width: .5px !important;
	filter: url(#f6);
	transition: all 1s  steps(24, end);
}

/*
g.pulse {

}
*/

g.pulse text {
	fill: #dbf9ff !important;
	text-shadow: 0px 3px 15px #240024;
	/* filter: url(#outline); */
	transition: all 1s  steps(24, end);
}

g.wait rect {
	fill: #c1ae94 !important;
	stroke: #e6772c !important;
	stroke-width: .5px !important;
	/* transition: all 1s  steps(24, end); */
}

g.wait text {
	fill: #fffbf5 !important;
	text-shadow: 0px 3px 15px #4e3800;
	/* filter: url(#outline); */
	/* transition: all 1s  steps(24, end); */
}

/* .greek rect {
	fill: #5d1313 !important;
	stroke: #af225255 !important;
}

.yiddish rect {
	fill: #5d9bcc !important;
	stroke: #0d33e0 !important;
}

.hindi rect {
	fill: #8e3939 !important;
	stroke: #ffea6c33 !important;
} */

.heavy {
	font: 13px monospace;
	fill: #ccc;
	stroke-width: 0;
	user-select: none;
	pointer-events: none;
}

.link path, path.helper-segment {
	stroke: var(--link-color);
	stroke-linecap: "round";
	opacity: 1;
	stroke-width: 2px;
	fill: none;
}

.link line.control {
	stroke: #aa00aa66;
	stroke-dasharray: 5;
	fill: none;
	/* stroke-width: 1; */
	stroke-width: 0;
}

.link .control-circle {
	fill: none;
	stroke: #aa00aa66;
	/* stroke-width: 1; */
	stroke-width: 0;
}
