body {
  overflow-x: hidden;
}
.image-container {
  width:80%;
  min-height:100px;
  position: relative;
  margin: 5px;
  max-width: 30em;
}
img {
  width: 100%;
  /*height: 100%;*/
  margin-bottom: 3em;
}
img:before {
  background: #555;
  color: #111;
  top: -2px; left: -2px;
  white-space: pre-wrap;
  content: "MISSING IMAGE";
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
