/* Define the "system" font family */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
    font-weight: 500;
    font-size: 12px;
    background: #77706b;
    font-family: "system";
    color: #e4dada;
    box-sizing: border-box;
    margin: 0;
    margin-top: 20px;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 12px black;
}

.row, .notes {
    max-width: 700px;
    border-radius: 6px;
    width: 80%;
    min-width: 350px;
    box-sizing: border-box;
    background-color: #382923;
    color: #c9cca2;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 9px;
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 50%;
}

.cell {
    height: 4.5em;
    background: #e6e6e6;
    width: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
    text-transform: uppercase;
    padding: 5px;
    box-shadow: inset 0px 0px 9px 3px #80808070, 0 4px 4px #0000004a;
    position: relative;
    margin-bottom: 10px;
}

.cell:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.green {
    background-image: linear-gradient(#00d47f, #007b2c);
    color: #67dd8b;
    border-color: #08560b;
    box-shadow: 0 9px 0px #013e01, 0 11px 0px #001f01;
}
.green:after {
    border-color: #04d49ebf;
}


.yellow {
    background-image: linear-gradient(#FFEB3B, #bb6800);
    color: #ffcc07;
    border-color: #7b5509;
    box-shadow: 0 9px 0px #614300, 0 11px 0px #1f1d00;
}
.yellow:after {
    border-color: #d0c02f;
}

.orange {
    background-image: linear-gradient(#ffcc00, #bb3400);
    color: #ffee07;
    border-color: #7d5504;
    box-shadow: 0 9px 0px #612000, 0 11px 0px #1f0b00;
}
.orange:after {
    border-color: #d4ab04bf;
}

.cell svg {
    display: block;
    width: 100%;
    height: 50%;
    stroke-width: 15px;
}

.cell span {
    width: 80%;
    min-height: 19px;
    line-height: 13px;
}

pre, code {
    white-space: pre-line;
}

level {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldsContainer {
    margin: 3px;
    margin-top: 15px;
    max-width: 120px;
    border: 1px solid #947e4c;
    border-radius: 5px;
    padding-bottom: 6px;
    background: hsla(36, 31%, 29%, 1);
}

.field {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #9a834d;
}

.field input {
    width: 90%;
    background: #675235;
    border: 0;
    color: #bba327;
    padding: 1px 2px;
    text-align: center;
    font-family: monospace;
    font-size: large;
    border-radius: 3px;
    text-shadow: 0px 2px #46312a;
    box-shadow: inset 0px 2px 0px #a08d715c, inset 0px 0 11px 6px #4a3b26;
}

.field input:disabled {
    background: transparent;
    box-shadow: none;
    line-height: unset;
    padding: 0px;
    margin: 0px;
    height: 13px;
    margin-top: 5px;
    font-size: 15px;
    color: inherit;
}

.field label {
    font-variant: all-petite-caps;
    text-align: center;
    display: inline-block;
    user-select: none;
    line-height: 12px;
    font-family: monospace;
    font-size: 16px;
}

