html.ns-draggable-cursor {
	cursor: ns-resize;
}

:root {
  --sidenav-full-width: 175px;
  --header-height: 45px;
  --main-theme-color: #3d5d6d;
  --main-theme-text-color: #fff;
  --theme-subdued-color: #f5f5f5;
  --theme-text-color: #fff;
}

/* main, footer {
  padding-left: var(--sidenav-full-width);
} */

main {
  grid-area: main;
  overflow-y: auto;
}

nav {
  background-color: var(--main-theme-color);
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-area: header;
  position: sticky;
  top: 0;
}

.sidenav .brand-logo {
  display: none;
  /* font-size: 1.4rem; */
}

@media only screen and (min-width : 992px) {
  .sidenav.sidenav-fixed {
    box-shadow: unset;
    /* margin-top: 65px; */
    z-index: -1;
    width: var(--sidenav-full-width);
    background-color: var(--main-theme-color);
    color: var(--main-theme-text-color);
  }
  .sidenav .brand-logo {
    display: unset;
    position: relative;
    font-size: 1.4rem;
    font-weight: 350;
    /* width: 100%; */
    padding-left: 1rem;
    color: inherit;
    opacity: 1;
  }
  .sidenav a.subheader, .sidenav li>a {
    color: inherit;
    padding-left: 1rem;
    height: var(--header-height);
    line-height: var(--header-height);
    opacity: .5;
  }
  .sidenav li>a:hover {
    opacity: 1;
  }
  .sidenav a.subheader {
    line-height: 70px;
    text-transform: uppercase;
    font-size: smaller;
  }
  .sidenav li>a>i.material-icons {
    color: inherit;
    margin-right: 0.1rem;
    font-size: medium;
    line-height: var(--header-height);
  }
  #logo-container {
    display: none;
  }
}

@media only screen and (max-width : 992px) {
  main, footer {
    padding-left: 0;
  }
  .sidenav.sidenav-fixed {
    box-shadow: reset;
    background: reset;
    margin-top: reset;
    z-index: reset;
  }
}

.grid-container {
  position: absolute;
  left: 0;
  right: 0;
  /*
  top: 0;
  bottom: 0;
   */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1px 0px;
  grid-template-areas: "header" "main" "gutter" "terminal";
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i,
.sidenav li {
  height: var(--header-height);
  line-height: var(--header-height);
}



@media only screen and (min-width : 992px) {
  nav {
    box-shadow: unset;
    background-color: var(--theme-subdued-color);
    /* box-shadow: 0px 0px 9px -2px #ccc; */
  }
  nav:after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.09) 0%,
      rgba(249, 0, 0, 0) 100%
    );
  }
  .grid-container {
    left: var(--sidenav-full-width);
  }

}




.gutter {
  background: #5d4c3c;
  grid-area: gutter;
  cursor: ns-resize;
}

.terminal {
  grid-area: terminal;
  overflow-y: auto;
}

.CodeMirror {
  height: 100%;
  font-size: 13px;
  background: #eee;
}

.CodeMirror-gutter{
  background: #e0e0e0;
}

.CodeMirror pre.CodeMirror-line { padding-left: 15px }

.simulation {
  padding-top: 0;
  height: 100%;
}
