html.ns-draggable-cursor {
	cursor: ns-resize;
}

:root {
  --sidenav-full-width: 275px;
}

main, footer {
  padding-left: var(--sidenav-full-width);
}

@media only screen and (min-width : 992px) {
  .sidenav.sidenav-fixed {
    box-shadow: unset;
    background: #eee;
    margin-top: 65px;
    z-index: -1;
    width: var(--sidenav-full-width);
  }
}

@media only screen and (max-width : 992px) {
  main, footer {
    padding-left: 0;
  }
  .sidenav.sidenav-fixed {
    box-shadow: reset;
    background: reset;
    margin-top: reset;
    z-index: reset;
  }
}

.grid-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 3px 200px;
  grid-template-areas: "header" "main" "gutter" "terminal";
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-area: header;
}

main {
  grid-area: main;
  overflow-y: auto;
}

nav {
  background-color: #76e2ca;
}


.gutter {
  background: #5d4c3c;
  grid-area: gutter;
  cursor: ns-resize;
}

.terminal {
  grid-area: terminal;
  overflow-y: auto;
}

.CodeMirror {
  height: 100%;
  font-size: 13px;
  background: #eee;
}

.CodeMirror-gutter{
  background: #e0e0e0;
}

.CodeMirror pre.CodeMirror-line { padding-left: 15px }

.simulation {
  padding-top: 0;
  height: 100%;
}
