
:fullscreen#wrapper {
  background-color: #222;
  bottom: 0px;
  top: 0px;

  img {
    width: 100%;
    box-shadow: none;
  }
}

:-webkit-full-screen#wrapper {
  background-color: #222;
  bottom: 0px;
  top: 0px;

  img {
    width: 100%;
    box-shadow: none;
  }
}

:-moz-full-screen#wrapper {
  background-color: #222;
  bottom: 0px;
  top: 0px;

  img {
    width: 100%;
    box-shadow: none;
  }
}

body {
  text-align: center;
  background-color: #222;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0px;

  #wrapper {
    position: absolute;
    top: 12.5%;
    right: 0px;
    bottom: 15%;
    left: 0px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    img {
      //image-rendering: pixelated;
      width: 80%;
      box-shadow: 0em 0em 19px 3px rgba(255, 215, 0, 0.11);
      .loading {
        box-shadow: none; 
      }
    }
  }

  #controls {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    border: 0px;
    width: 15%;
    height: 25%;
  }
}
