body {
  text-align: center;
  background-color: #222;

  .wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  
    img {
      image-rendering: pixelated;
      zoom: 0.5;
    }
  }
}

