:root {
  --sidenav-full-width: 230px;
  --header-height: 45px;
}

:root {
  --main-theme-color: #87969b;
  --main-theme-highlight-color: #039be5;
  --main-theme-background-color: white;
  --main-theme-background-dark-color: #eee;
  --main-theme-text-color-dark: green;
  --main-theme-text-color: black;
  --main-theme-text-invert-color: white;
  --theme-subdued-color: #f5f5f5;
  --theme-text-color: black;
}

:root.dark-enabled {
  --main-theme-color: #120024;
  --main-theme-highlight-color: #f36b99;
  --main-theme-background-color: #2e1e3e;
  --main-theme-background-dark-color: #29252b;
  --main-theme-text-color-dark: #46304d;
  --main-theme-text-color: #d8d8d8;
  --main-theme-text-invert-color: #d0c0d8;
  --theme-subdued-color: #483f48;
  --theme-text-color: black;
}

/*
make everything past this go away if possible
 */

.sidenav.sidenav-fixed {
  /* z-index: -1; */
  width: var(--sidenav-full-width);
}

main {
  /* height: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

nav {
  background-color: var(--main-theme-color);
  box-shadow: none;
}

.user-view, .user-view-right, .user-sidebar {
  display: none;
}

header, main, footer {
  padding-left: calc(var(--sidenav-full-width) * 0.9);
}

@media only screen and (max-width: 992px){
  header, main, footer {
      padding-left: 0;
  }
}

@media only screen and (min-width: 992px) {
  #logo-container {
      display: none;
  }
  header nav {
    display: none;
  }
}

.simulation {
  padding-top: 0;
  height: 100%;
}

.container.canvas {
  background: var(--main-theme-color);
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  max-width: unset;
  display: flex;
  position: fixed;
  top: 0px;
  padding-left: 100px;
}

.container.canvas canvas {
  transform: translateZ(0);
}

@media only screen and (max-width: 992px){
  .container.canvas {
      left: 0;
      padding-left: 0px;
  }
}

.stats {
  position: absolute;
  bottom: 45px;
  left: 27px;
  color: #ffffff94;
  padding: 10px;
  border: 1px solid #ffffff5e;
  border-radius: 4px;
  margin: 10px;
  min-width: 120px;
  box-sizing: border-box;
}

@media only screen and (max-width: 992px){
  .stats {
    left: 0;
    bottom: unset;
    top: 54px;
  }
}

.hidden {
  visibility: hidden !important;
}

div#stats-monitor {
  top: 50px !important;
  right: 10px !important;
  left: unset !important;
}
