/*
body {
    background-color: #222;
} */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

main .container:first-child {
    padding-top: 25px;
    padding-bottom: 25px;
}

img.clock {
  max-width: 30%;
}

#functionInput {
  min-height: 295px;
  border: 0px;
}

.CodeMirror {
  height: auto;
}

.section.simulation {
  padding-top: 0;
}
