body {
  color: #aaa;
  background: #1a1a1a;
  margin: 3em;
  font-family: sans-serif;
}

iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.iframeContainer {
  overflow: hidden;
  width: 43vh;
  height: 35vh;
  /* display: none; */
}

#settle {
  /* display: none; */
  font-size: 3em;
  padding: 1em 0;
}

#settle:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: red;
}

  ::-webkit-scrollbar { width: 5px; height: 5px; }
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: #888; }
  ::-webkit-scrollbar-thumb:hover { background: #555; }

